In [1]:
import os
import pandas
os.listdir()

['supermarkets.json',
 'supermarkets-semi-colons.txt',
 'supermarkets-commas.txt',
 'supermarkets.xlsx',
 '.ipynb_checkpoints',
 'pandas.ipynb',
 'exercise3_pandas.py',
 'supermarkets.csv']

In [2]:
df1 = pandas.read_csv("supermarkets.csv")
df2 = pandas.read_json("supermarkets.json")
df3 = pandas.read_excel("supermarkets.xlsx", sheet_name=0)
df4 = pandas.read_csv("supermarkets-commas.txt")
df5 = pandas.read_csv("supermarkets-semi-colons.txt", sep=";")

In [3]:
pandas.read_csv? #for help

SyntaxError: invalid syntax (<ipython-input-3-96fac818ccf1>, line 1)

In [4]:
df1 = pandas.read_csv("supermarkets.csv", header=None)
df1

,0,1,2,3,4,5,6
0,ID,Address,City,State,Country,Name,Employees
1,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df4.columns = ("ID", "Address", "City","State", "Country", "Name", "Employees")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df8 = df4.set_index("ID") # add "ID", inplace = True to set permanently
df8

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df8.set_index("Name", inplace=True, drop = False) #not to drop column to be set as index

In [8]:
df8

,Address,City,State,Country,Name,Employees
Name,,,,,,
Madeira,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
Bready Shop,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
Super River,332 Hill St,San Francisco,California 94114,USA,Super River,25
Ben's Shop,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
Sanchez,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
Richvalley,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df4.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [10]:
df4.iloc[1:3,3:7]
df4.loc[:,"City"] #slicing

0    San Francisco
1    San Francisco
2    San Francisco
3    San Francisco
4    San Francisco
5    San Francisco
Name: City, dtype: object

In [11]:
df4.drop("City",1) #1 = column, 0 = rows

   ID          Address             State Country         Name  Employees
0   1     3666 21st St          CA 94114     USA      Madeira          8
1   2   735 Dolores St          CA 94119     USA  Bready Shop         15
2   3      332 Hill St  California 94114     USA  Super River         25
3   4     3995 23rd St          CA 94114     USA   Ben's Shop         10
4   5  1056 Sanchez St        California     USA      Sanchez         12
5   6  551 Alvarado St          CA 94114     USA   Richvalley         20

In [12]:
df4.drop(3,0)

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [13]:
df4.drop(df4.index[0:3],0)

,ID,Address,City,State,Country,Name,Employees
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [14]:
df4.drop(df4.columns[0:3],1)

              State Country         Name  Employees
0          CA 94114     USA      Madeira          8
1          CA 94119     USA  Bready Shop         15
2  California 94114     USA  Super River         25
3          CA 94114     USA   Ben's Shop         10
4        California     USA      Sanchez         12
5          CA 94114     USA   Richvalley         20

In [15]:
df4.index

RangeIndex(start=0, stop=6, step=1)

In [16]:
df4.columns

Index(['ID', 'Address', 'City', 'State', 'Country', 'Name', 'Employees'], dtype='object')

In [17]:
df4 = df4.set_index("ID")

In [18]:
df4

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [19]:
#adding a column
df4["Continent"] = df4.shape[0]*["North America"]

In [20]:
#modifying a column
df4["Continent"]=df4["Country"] + "," + "North America"

In [21]:
df4_t = df4.T
df4_t["7"] = ["My address", "My City", "My state", "My country", "My Name", "My Employees", "My Continent"]
df4_t.T

,Address,City,State,Country,Name,Employees,Continent
ID,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA,North America"
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America"
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA,North America"
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America"
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA,North America"
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America"
7,My address,My City,My state,My country,My Name,My Employees,My Continent

In [22]:
df4

,Address,City,State,Country,Name,Employees,Continent
ID,,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA,North America"
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA,North America"
3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA,North America"
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA,North America"
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA,North America"
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA,North America"

In [23]:
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [24]:
#address to coordinates = geocoding

from geopy.geocoders import ArcGIS
nom = ArcGIS()
n = nom.geocode("2618 T. Earnshaw St., Gagalangin, Tondo, Manila")

In [25]:
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [26]:
df5["Address"] = df5["Address"] + "," + df5["City"] + "," + df5["State"] + "," + df5["Country"]

In [27]:
df5

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20

In [28]:
# no need to iterate in.. pandas #what method you want to .apply to the column
df5["Coordinates"] = df5["Address"].apply(nom.geocode)

In [29]:
df5

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9..."

In [30]:
#lambda in  single line function acting like a function
df5["Latitude"] = df5["Coordinates"].apply(lambda x: x.latitude if x!= None else None)
df5["Longitude"] = df5["Coordinates"].apply(lambda x: x.longitude if x!= None else None)
df5

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756450,-122.429364
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757796,-122.425597
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755648,-122.428803
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752991,-122.431702
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752129,-122.430028
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753719,-122.433240

In [31]:
df5

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756450,-122.429364
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757796,-122.425597
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755648,-122.428803
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752991,-122.431702
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752129,-122.430028
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753719,-122.433240

In [49]:
lat = list(df5["Latitude"])
long = list(df5["Longitude"])
zipl = zip(lat,long)
for i,coord in enumerate(zipl):
    for x in coord:
        print(x)

37.7564496899993
-122.42936434915458
37.7577961290611
-122.42559668301706
37.75564836499496
-122.4288026611172
37.752990821253434
-122.43170235858965
37.752129
-122.43002849999999
37.75371876406616
-122.43323998612154