In [15]:
import os
os.listdir()

['regionxi_address.csv',
 'data',
 'geocode.ipynb',
 '.ipynb_checkpoints',
 'regionxi.csv',
 'batch_geocode.py',
 'pandas.ipynb',
 'add_address.py',
 'geocode_trial.py',
 'orig_data.xlsx']

In [11]:
import pandas
from geopy.geocoders import ArcGIS

In [12]:
nom = ArcGIS()

In [42]:
df = pandas.read_csv("data/test.csv")

cols = ['name', 'city', 'submun', 'province']
df["address"] = df[cols].apply(lambda x: ','.join(x.dropna()), axis=1)
df

,code,name,submun,city,province,address
0,112402087,Panacan,NaN,Davao,Davao Del Sur,"Panacan,Davao,Davao Del Sur"
1,126303024,San Jose,NaN,General Santos,South Cotabato,"San Jose,General Santos,South Cotabato"
2,126303026,Sinawal,NaN,General Santos,South Cotabato,"Sinawal,General Santos,South Cotabato"
3,126303027,Tambler,NaN,General Santos,South Cotabato,"Tambler,General Santos,South Cotabato"
4,126303028,Tinagacan,NaN,General Santos,South Cotabato,"Tinagacan,General Santos,South Cotabato"

In [44]:
df

,code,name,submun,city,province,address
0,112402087,Panacan,NaN,Davao,Davao Del Sur,"Panacan,Davao,Davao Del Sur"
1,126303024,San Jose,NaN,General Santos,South Cotabato,"San Jose,General Santos,South Cotabato"
2,126303026,Sinawal,NaN,General Santos,South Cotabato,"Sinawal,General Santos,South Cotabato"
3,126303027,Tambler,NaN,General Santos,South Cotabato,"Tambler,General Santos,South Cotabato"
4,126303028,Tinagacan,NaN,General Santos,South Cotabato,"Tinagacan,General Santos,South Cotabato"

In [45]:
df.to_csv('data/test1.csv')